:root {
  //-----colors-----
  --bg-color: #f4f1de;
  --main-color: #292c42;
  --main-color-inverted: #f4f1de;
  --accent-color: #e07a5f;
  --accent-color-dark: #b44628;
  --accent-color-light: #f8997f;
  --blue-color: #3d405b;
  --blue-color-light: #7a7d97;

  --danger-color: #a00202;
  //-----fonts-----
  --font-size-xs: 12px;
  --font-size-s: 14px;
  --font-size-m: 16px;
  --font-size-l: 20px;
  --font-size-xl: 24px;
  --font-size-2xl: 32px;
  //-----padding-----
  --p-s: 8px;
  --p-m: 16px;
  --p-l: 24px;
  --p-xl: 32px;
  //-----sizes-----
  --navbar-height: 80px;
  --container-width: 1200px;
}
