@import "@/app/styles/mixins.scss";

.page {
  height: calc(100vh - var(--navbar-height));
  padding-bottom: var(--navbar-height);

  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  max-width: 420px;
  width: 100%;

  border-radius: 32px;

  padding: var(--p-xl);
  background-color: var(--accent-color-light);

  @include shadow;
}
