.page {
  height: calc(100vh - var(--navbar-height));
  padding-bottom: var(--navbar-height);

  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  max-width: 420px;
  width: 100%;

  border-radius: 32px;

  padding: var(--p-xl);
  background-color: var(--accent-color-light);

  -webkit-box-shadow: 4px 4px 8px 0px rgba(172, 67, 1, 0.2);
  -moz-box-shadow: 4px 4px 8px 0px rgba(172, 67, 1, 0.2);
  box-shadow: 4px 4px 8px 0px rgba(172, 67, 1, 0.2);
}

.title {
  font-size: var(--font-size-xl);
  margin-bottom: 16px;
}
