.page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;

  margin: 32px 0;
}

.img_container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
}

.hero_image {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: calc(100vh - var(--navbar-height) - 64px);

  object-fit: contain;
  border-radius: 32px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 64px;
}

.about {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
}

.title {
  text-align: center;
}

.paragraph {
  text-align: center;
  font-size: var(--font-size-l);
}

.sources {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.sources_title {
  font-size: var(--font-size-l);
  font-weight: 600;
}

.links {
  display: flex;
  gap: 12px;
}
