.recipes_list {
  max-width: 800px;
  width: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr;

  gap: 48px 32px;
}

.pagination {
  margin: 48px auto 16px auto;
}

.loader {
  margin: 64px auto;
}

.content {
  display: flex;
  gap: 32px;
}
