@import "@/app/styles/mixins.scss";

.page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  column-gap: 32px;

  margin: 32px 16px;
}

.img_container {
  display: flex;
  justify-content: flex-end;
}

.hero_image {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: calc(100vh - var(--navbar-height) - 64px);

  object-fit: contain;
  border-radius: 32px;
}

.subtitle {
  padding-top: 12px;
  font-size: var(--font-size-l);
  font-weight: 500;
}

.categories_list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 48px;

  align-content: space-between;
  justify-content: space-between;

  margin: 32px 0;
}

.link_section {
  padding-top: 16px;
  font-size: var(--font-size-l);

  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.button_content {
  display: flex;
  gap: 4px;

  transition: gap 500ms ease;
}

.button:hover {
  .button_content {
    gap: 18px;
  }
}

@include mediaLaptop {
  .categories_list {
    grid-template-columns: 1fr 1fr;
  }
}

@include mediaTablet {
  .page {
    display: flex;
    flex-direction: column-reverse;

    gap: 32px;
  }

  .hero_image {
    max-height: 50vh;
  }

  .categories_list {
    gap: 32px;
  }
}

@include mediaPhone {
  .categories_list {
    gap: 16px;
  }
}
