@import "./styles/vars.scss";
@import "./styles/mixins.scss";
@import "./styles/reset.scss";

body {
  background-color: var(--bg-color);
  color: var(--text-color);

  font-size: var(--font-size-m);
}

.app {
  padding-top: var(--navbar-height);
  max-width: var(--container-width);
  width: 100%;
  margin: 0 auto;
}

.error_page {
  height: calc(100vh - var(--navbar-height));
  padding-bottom: var(--navbar-height);
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  align-items: center;
}
