@import "@/app/styles/mixins.scss";

.content {
  margin: 32px 0;

  display: flex;
  gap: 32px;
}

.search {
  margin-top: 16px;
}

.pagination {
  margin: 0 auto;
}

.recipe_list {
  max-width: 800px;
  width: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr;

  gap: 48px 32px;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 32px;
  min-width: 320px;
}

.menu_title {
  font-size: var(--font-size-xl);
  font-weight: bold;
  color: var(--blue-color);

  margin-bottom: 16px;
}

@include mediaLaptop {
  .content {
    flex-direction: column-reverse;
    align-items: center;
  }

  .menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .menu.without_category {
    display: block;
  }

  .recipe_list {
    max-width: none;
  }
}

@include mediaTablet {
  .recipe_list {
    grid-template-columns: 1fr;
    gap: 16px;
  }
}
