.content {
  margin: 32px 0;

  display: flex;
  gap: 32px;
}

.search {
  margin-top: 16px;
}

.pagination {
  margin: 0 auto;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 32px;
  min-width: 320px;
}

.menu_title {
  font-size: var(--font-size-xl);
  font-weight: bold;
  color: var(--blue-color);

  margin-bottom: 16px;
}
