.page {
  padding-bottom: var(--navbar-height);

  margin: 32px 0;
}

.wrapper {
  margin-top: 48px;
  display: flex;
  gap: 64px;
}

.recipe_book {
  width: 100%;
}

.profile {
  width: 100%;
  max-width: 320px;
}
