.default {
  color: var(--green-color);
}

.button {
  display: inline-block;
  color: var(--text-color-inverted);
  padding: 10px 18px;
  border-radius: 24px;
  background-color: var(--blue-color);
  transition: background-color 0.3s ease-in;
}

.button:hover {
  background-color: var(--blue-color-light);
}

.withIcon {
  display: flex;
  align-items: center;
  gap: 4px;
}
