@import "@/app/styles/mixins.scss";

.card {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100%;

  padding: 0 var(--p-m);

  background-color: var(--accent-color);
  color: var(--blue-color);
  font-weight: 400;

  overflow: hidden;

  border-radius: 20px;

  @include shadow;

  &:hover,
  &:focus {
    outline: 3px solid var(--accent-color);
    outline-offset: 2px;
  }
}

.image {
  padding: 16px 8px;
}

.card__content {
  padding-bottom: 16px;
}

.name {
  font-size: var(--font-size-l);
  text-align: center;
}
