.page {
  margin: 32px 16px;
}

.loader {
  margin: 64px auto;
}

.icon {
  color: var(--accent-color);
}

.description {
  color: var(--main-color);
  font-size: var(--font-size-xl);
}

.subtitle {
  color: var(--blue-color);
  font-size: var(--font-size-xl);

  padding-bottom: 8px;
}

.ingredients {
  color: var(--main-color);
}

.steps {
  list-style-position: inside;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 16px;

  padding-top: 16px;
}

.error_message {
  padding-top: 32px;

  color: var(--danger-color);
  font-size: var(--font-size-l);
}
