@import "@/app/styles/mixins.scss";

.container {
  border-radius: 32px;
  padding: var(--p-l);
  background-color: var(--main-color);
  color: var(--main-color-inverted);

  @include shadow;
}

.recipe_book {
  font-size: var(--font-size-l);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;

  height: 100%;
}

.title {
  font-size: var(--font-size-2xl);
}

.recipes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.open_btn {
  display: flex !important;
  justify-content: center;

  margin-top: 32px;
}
